.social-media {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  fill: $color-grey;

  &:hover {
    fill: $color-gold;
  }

  @media screen and (max-width: $media-m) {
    height: 40px;
    width: 40px;
  }
}