.home {
  @include image-properties;

  height: 100vh;
  width: 100%;
  background-image: url("images/background.png");
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .logo {
    font-size: 8rem;
  }

  @media screen and (max-width: $media-m) {
    .logo {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: $media-s) {
    .logo {
      font-size: 4rem;
    }
  }
}