.section {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;

  @for $i from 1 through 12 {
    .col-#{$i} {
      height: 100%;
    }
  }
}

.menus-images {
  @include image-properties;

  height: 100%;
  width: 100%;
  background-image: url("images/menu.jpg");
}