footer {
  background-color: $color-light-black;
  display: flex;
  flex-direction: column;

  .newsletter {
    height: 250px;
    width: 100%;
    padding: 1em;
    background-color: $color-gold;

    h1 {
      height: 60%;
    }

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .text-input-border-bottom {
        width: 50%;
      }
    }
  }

  .footer-informations {
    height: calc(100% - 250px); // Footer height - newsletter height
    padding: 1em;
    display: flex;
    justify-content: space-between;

    .map {
      @include image-properties;

      height: 400px;
      width: 500px;
      margin-bottom: 1.5em;
      align-self: center;
      background-image: url("images/map.png");
    }

    .footer-text {
      width: 60vw;
      color: $color-grey;
      display: flex;
      align-content: center;
      flex-wrap: wrap;

      .col-2 {
        padding: 0 1.5em 1.5em 1.5em;
      }

      h1 {
        margin-bottom: 1rem;
      }

      a {
        color: $color-grey;
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: $media-m) {
    .newsletter {
      height: 175px;
      padding: 0.5em;
    }

    .map {
      height: 300px;
      width: 400px;
    }

    .footer-text {
      font-size: 1.5rem;

      .col-2 {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $media-s) {
    .newsletter {
      h1 {
        height: 70%;
      }
    }

    .button-gold {
      padding: 0.5rem 2rem;
    }

    .footer-informations {
      flex-wrap: wrap;
      justify-content: center;

      .footer-text {
        width: 100%;
        text-align: center;
      }
    }
  }
}