header {
  @include home-fade-animation;

  height: 150px;
  width: 100%;
  top: 0;
  padding: 2rem;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 2s ease-out;

  .logo {
    display: none;
  }

  @media screen and (max-width: $media-s) {
    height: 75px;
    padding: 1rem;
  }
}

.active {
  .logo {
    font-size: 5rem;
    display: block;
    animation: none;
  }

  @media screen and (max-width: $media-s) {
    height: 75px;
    padding: 1rem;

    .logo {
      font-size: 4rem;
    }
  }
}