.container {
  width: 100%;
}

.container-with-header {
  margin-top: 150px;
}

.section {
  height: calc(100vh - 150px); // Viewport height - header height
  width: 100%;
  display: flex;

  @for $i from 1 through 12 {
    .col-#{$i} {
      height: 100%;
      width: calc(100% / #{$i});

    }
  }
}

@media screen and (max-width: $media-s) {
  .container-with-header {
    margin-top: 75px;
  }

  .section {
    height: calc(100vh - 75px);
    flex-direction: column;

    @for $i from 1 through 12 {
      .col-#{$i} {
        height: 50vh;
        width: 100%;
      }
    }
  }

  .inverted {
    flex-direction: column-reverse;
  }
}