// Imports David Libre and Roboto fonts
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Fonts
$font-title: David Libre, serif;
$font-body: Roboto, sans-serif;

// Fonts sizes
$font-size: 30px;

// Colors
$color-gold: #DBB166;
$color-black: #141414;
$color-light-black: #313131;
$color-grey: #EBEBEB;

// Media sizes
$media-xs: 480px;
$media-s: 768px;
$media-m: 1024px;